# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Data
data/
*.parquet
*.csv
!device_signatures.yaml

# Models
models/*.pkl

# Env
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# Node
node_modules/
web/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
.vercel
